fastapi
uvicorn[standard]
sqlmodel
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
httpx
tenacity
vaderSentiment
streamlit
plotly
pandas
requests
moviepy==1.0.3
imageio-ffmpeg==0.4.9
Pillow
numpy
python-dotenv
sentry-sdk[fastapi]
posthog
json-log-formatter
psycopg2-binary
jinja2
alembic
pytest
pytest-httpx
pytest-asyncio
